h2 {
    margin-top: 30px;
}
::ng-deep .mat-form-field-wrapper {
    padding: 0 !important;
    margin: 0;
}
::ng-deep .mat-form-field-infix {
    padding : 5px !important;
}
.My-profile {
    color: #1a334c;
}
.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }
  .mb3 input  {
    width: 100%;
    outline: none;
    padding: 7px;
    border: 1px solid #1a334c;
    border-radius: 5px;
  }
  .mb3 input:hover  {
  border : 2px solid #1a334c
}
.date{
    margin-bottom: 30px;
}
.email {
    margin-bottom: 30px;
}
table tr td {
    padding: 0 30px !important ;
}
.presonal span {
    font-weight: normal !important;margin-right: 10px;
}
.all p {
    color: #fa983a;
    font-weight: bold;
}