<section>
  <div class="all-product">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <a href="">
            <div class="title" style="background: #fff;">
              <h2><i class="far fa-list-alt" style="color: #fa983a;"></i> All Product</h2>
            </div>
          </a>
        </div>
        <div class="col-lg-6">
          <a href="">
            <div class="title" style="background: #fff;">
              <h2>Return Auction</h2>
            </div>
          </a>
        </div>

      </div>
    </div>
    <div class="list-product">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-sm-3 col-md-3">
            <div class="item" routerLink="product-details">
              <div class="box-img">
                <img src="../../assets/images/balo.jpg" alt="">
              </div>
              <div class="title-item">
                <h4>Balo thời trang</h4>
                <p class="description">
                  - kích thước : 25 x 32, thông số kĩ thuật
                </p>
                <div class="timeout">
                  <div class="countdown-time">
                    <p><span>00</span>: <span>00</span>: <span>20</span></p>
                  </div>
                  <div class="auction-present">
                    <i class="fas fa-gavel" style="transform: rotate(270deg);"></i>
                    <span>23k đ</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-3 col-md-3">
            <div class="item">
              <div class="box-img">
                <img src="../../assets/images/paracord.jpg" alt="">
              </div>
              <div class="title-item">
                <h4>Balo thời trang</h4>
                <p class="description">
                  - kích thước : 25 x 32, thông số kĩ thuật
                </p>
                <div class="timeout">
                  <div class="countdown-time">
                    <p><span>00</span>: <span>00</span>: <span>20</span></p>
                  </div>
                  <div class="auction-present">
                    <i class="fas fa-gavel" style="transform: rotate(270deg);"></i>
                    <span>23k đ</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-3 col-md-3">
            <div class="item">
              <div class="box-img">
                <img src="../../assets/images/vongtay.png" alt="">
              </div>
              <div class="title-item">
                <h4>Balo thời trang</h4>
                <p class="description">
                  - kích thước : 25 x 32, thông số kĩ thuật
                </p>
                <div class="timeout">
                  <div class="countdown-time">
                    <p><span>00</span>: <span>00</span>: <span>20</span></p>
                  </div>
                  <div class="auction-present">
                    <i class="fas fa-gavel" style="transform: rotate(270deg);"></i>
                    <span>23k đ</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-3 col-md-3">
            <div class="item">
              <div class="box-img">
                <img src="../../assets/images/balo.jpg" alt="">
              </div>
              <div class="title-item">
                <h4>Balo thời trang</h4>
                <p class="description">
                  - kích thước : 25 x 32, thông số kĩ thuật
                </p>
                <div class="timeout">
                  <div class="countdown-time">
                    <p><span>00</span>: <span>00</span>: <span>20</span></p>
                  </div>
                  <div class="auction-present">
                    <i class="fas fa-gavel" style="transform: rotate(270deg);"></i>
                    <span>23k đ</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-3 col-md-3">
            <div class="item" routerLink="product-details">
              <div class="box-img">
                <img src="../../assets/images/balo.jpg" alt="">
              </div>
              <div class="title-item">
                <h4>Balo thời trang</h4>
                <p class="description">
                  - kích thước : 25 x 32, thông số kĩ thuật
                </p>
                <div class="timeout">
                  <div class="countdown-time">
                    <p><span>00</span>: <span>00</span>: <span>20</span></p>
                  </div>
                  <div class="auction-present">
                    <i class="fas fa-gavel" style="transform: rotate(270deg);"></i>
                    <span>23k đ</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-3 col-md-3">
            <div class="item" routerLink="product-details">
              <div class="box-img">
                <img src="../../assets/images/balo.jpg" alt="">
              </div>
              <div class="title-item">
                <h4>Balo thời trang</h4>
                <p class="description">
                  - kích thước : 25 x 32, thông số kĩ thuật
                </p>
                <div class="timeout">
                  <div class="countdown-time">
                    <p><span>00</span>: <span>00</span>: <span>20</span></p>
                  </div>
                  <div class="auction-present">
                    <i class="fas fa-gavel" style="transform: rotate(270deg);"></i>
                    <span>23k đ</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-3 col-md-3">
            <div class="item" routerLink="product-details">
              <div class="box-img">
                <img src="../../assets/images/balo.jpg" alt="">
              </div>
              <div class="title-item">
                <h4>Balo thời trang</h4>
                <p class="description">
                  - kích thước : 25 x 32, thông số kĩ thuật
                </p>
                <div class="timeout">
                  <div class="countdown-time">
                    <p><span>00</span>: <span>00</span>: <span>20</span></p>
                  </div>
                  <div class="auction-present">
                    <i class="fas fa-gavel" style="transform: rotate(270deg);"></i>
                    <span>23k đ</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-3 col-md-3">
            <div class="item" routerLink="product-details">
              <div class="box-img">
                <img src="../../assets/images/balo.jpg" alt="">
              </div>
              <div class="title-item">
                <h4>Balo thời trang</h4>
                <p class="description">
                  - kích thước : 25 x 32, thông số kĩ thuật
                </p>
                <div class="timeout">
                  <div class="countdown-time">
                    <p><span>00</span>: <span>00</span>: <span>20</span></p>
                  </div>
                  <div class="auction-present">
                    <i class="fas fa-gavel" style="transform: rotate(270deg);"></i>
                    <span>23k đ</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>