.fixed {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    padding: 15px 0 !important;
    transition: 1s all;
}
.header {
    width: 100%;

}
.nav ul li {
    padding: 0 20px;
    list-style: none;
    display: inline-block;
    color: #fff;
}
.nav ul{
    width: 100%;
    margin: 0;
    text-align: right;
    padding: 0;
}
.nav ul li i {
    margin-right: 10px;
}
.pagination .category ul {
    list-style: none;
    margin: 0;
    padding: 5px 0;
    text-align: center;
}
.info-bar {
    padding: 5px 0;
    font-size: 14px;
    background: #576574;
    color: #fff;
}
.category ul li {

    font-size: 14px;
    color: #b33939;
    font-weight: bold;
    padding: 0 20px;
position: relative;
    display: inline-block;

} 
.category ul li::before{
    content: "";
    width: 2px;
    right: 0;
    background: #333333;
    height: 100%;
    position: absolute;
}
.nav ul li a{
    color: #fff;
}
.nav ul li a:hover {
    text-decoration: none;
}
.nav {
    line-height: 3;
}
.logo img {
    width: 130px;
}
.header {
    background:#1a334c;
    box-shadow: 0px 0px 25px 6px rgba(0,0,0,0.08);
    padding: 20px 0;
}
.logo {
    display: flex;
    color: #fff;
}
.logo i {
    font-size: 35px;
    margin-right: 5px;
}
.logo h2 {
    font-family: 'Pacifico' !important ;
}
.mega-menu {
    transition: 1s all;
    position: relative;
}
.menu-ab {
    background: #1a334c;
    color: #fff;
    position: absolute;
    bottom: -60px;
    transition: 0.5s all;
    z-index: 1000;
    display: none;
    left: 30px;
}
.menu-ab li {
    cursor: pointer;
    width: 100%;
    text-align: center;
}
.menu-ab li:hover {
    background: #576574;
    color: #fff;
}
.mega-menu:hover .menu-ab{
    display: block;
    
}