<section>
  <div class="header">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3">
          <div class="logo" routerLink="/">
            <i class="fas fa-gavel"></i>
            <h2><span style="color: #fa983a;">Online</span>Auction</h2>
          </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9">
          <div class="nav">
            <ul>
              <li><a routerLink="/login"><i class="fas fa-shopping-cart" routerLink="cart"></i>Cart</a></li>
              <li><a routerLink="/my-auction"><i class="fas fa-gavel"></i>My Auction</a></li>
              <li class="mega-menu"><a> <i class="fas fa-user-circle"></i>Welcome : Kiên
                  <ul class="menu-ab">
                    <li><a routerLink="/new-product">New Product</a></li>
                    <li><a routerLink="/my-profile">My profile</a></li>
                  </ul>
                </a></li>
              <li><a routerLink="/login">Login</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="pagination">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="category">
            <ul>
              <li>End Now</li>
              <li>For her</li>
              <li>For him </li>
              <li>Home & Garden</li>
              <li>kid & toy</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="info-bar">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3">
          30 day return policy</div>
        <div class="col-lg-3 col-md-3 col-sm-3">
          Delivery fee 45000đ</div>
        <div class="col-lg-3 col-md-3 col-sm-3">All product start fromm to :1000đ</div>
        <div class="col-lg-3 col-md-3 col-sm-3">0334039718</div>
      </div>
    </div>
  </div>
</section>